[uwsgi]
chdir = /PATH
virtualenv = env
env = DJANGO_SETTINGS_MODULE=hub.settings_admin
module = hub.wsgi:application
socket = 127.0.0.1:9021
listen = 1024
max-requests = 10000
reload-on-as = 128
master = true
processes = 1
enable-threads = true
buffer-size = 32768
daemonize = run/admin-uwsgi.log
pidfile = run/admin-uwsgi.pid

