[uwsgi]
chdir = /PATH
virtualenv = env
env = DJANGO_SETTINGS_MODULE=hub.settings
module = hub.wsgi:application
socket = 127.0.0.1:9021
listen = 2048
max-requests = 50000
reload-on-as = 512
master = true
processes = 2
enable-threads = true
buffer-size = 32768
daemonize = run/hub-uwsgi.log
pidfile = run/hub-uwsgi.pid

