<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sanguo Status</title>

        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        
        <link rel="stylesheet" href="/static/pure-min.css">
        <link rel="stylesheet" href="/static/pikaday.css">
        
        <style type="text/css">
            .chart {
                width: 100%;
                height: 200px;
                max-height: 600px;
            }
        </style>
        
        <script src="/static/Chart.min.js"></script>
        <script src="/static/moment.min.js"></script>
        <script src="/static/pikaday.js"></script>
        
        <script type="text/javascript">
            Chart.defaults.global.responsive = true;
        </script>

    </head>
    <body>
        <div>
        <form class="pure-form">
            <fieldset>
            <input type="text" id="datepicker1" />
            <input type="text" id="datepicker2" />
            <a class="pure-button pure-button-primary" href="#" id="queryBtn">查询</a>
            </fieldset>
        </form>
        </div>

        <h2>日新增用户</h2>
        <canvas id="rixinzengyonghu" class="chart"></canvas>
        <h2>日充值用户</h2>
        <canvas id="richongzhiyonghu" class="chart"></canvas>
        <h2>日充值金额</h2>
        <canvas id="richongzhijine" class="chart"></canvas>

        <script type="text/javascript">
            var i18n = {
                previousMonth: "上月",
                nextMonth: "下月",
                months: ["一月", "二月", "三月", "四月", "五月", "六月","七月", "八月", "九月","十月", "十一月", "十二月",],
                weekdays: ["周一","周二","周三","周四","周五","周六","周日"],
                weekdaysShort: ["周一","周二","周三","周四","周五","周六","周日"]
            };

            var picker1 = new Pikaday({
                field: document.getElementById("datepicker1"),
                format: "YYYY-MM-DD",
                i18n: i18n
            });

            var picker2 = new Pikaday({
                field: document.getElementById("datepicker2"),
                format: "YYYY-MM-DD",
                i18n: i18n
            });

            var chartData = {
                labels: [],
                datasets: [
                    {
                        fillColor: "rgba(150, 220, 220, 0.3)",
                        strokeColor: "rgba(150, 220, 220, 1)",
                        pointColor: "rgba(150, 220, 220, 1)",
                        pointHighlightFill: "#fff",
                        data: []
                    }
                ]
            };
        
            $('#queryBtn').click(function(){
                if (picker2.getMoment() < picker1.getMoment())
                {
                    alert("请选择正确的日期");
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/status/ajax/",
                    data: {
                        date1: picker1.getMoment().format("YYYY-MM-DD"),
                        date2: picker2.getMoment().format("YYYY-MM-DD")
                    },
                    dataType: "json",
                    success: function(data){
                        cd1 = $.extend(true, {}, chartData);
                        for(var i=0; i<data.rixinzengyonghu.length; i++){
                            cd1.labels.push(data.rixinzengyonghu[i].date);
                            cd1.datasets[0].data.push(data.rixinzengyonghu[i].value);
                        }

                        var ctx1 = document.getElementById("rixinzengyonghu").getContext("2d");
                        new Chart(ctx1).Line(cd1);

                        cd2 = $.extend(true, {}, chartData);
                        for(var i=0; i<data.richongzhiyonghu.length; i++){
                            cd2.labels.push(data.richongzhiyonghu[i].date);
                            cd2.datasets[0].data.push(data.richongzhiyonghu[i].value);
                        }

                        var ctx2 = document.getElementById("richongzhiyonghu").getContext("2d");
                        new Chart(ctx2).Line(cd2);

                        cd3 = $.extend(true, {}, chartData);
                        for(var i=0; i<data.richongzhijine.length; i++){
                            cd3.labels.push(data.richongzhijine[i].date);
                            cd3.datasets[0].data.push(data.richongzhijine[i].value);
                        }

                        var ctx3 = document.getElementById("richongzhijine").getContext("2d");
                        new Chart(ctx3).Line(cd3);

                        return false;
                    },
                    error: function (r, s, e) {
                        alert("Error!");
                        return false;
                    }
                });
            });
            
        </script>

    </body>
</html>
